<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fm.mapper.MerchantLoginServiceMapper">


    <select id="selectMerchantInfo" resultType="com.fm.POJO.MerchantDetailedInfo"
            parameterType="com.fm.POJO.MerchantDetailedInfo">
        select * from merchant where merchantName = #{merchantName}
    </select>
    <select id="selectIsOldKeyByVersion" resultType="java.lang.Integer" parameterType="java.lang.String">
        select IF(#{version} != (select KeyVersion
                                 from jwtKey
                                 order by CreateTime DESC
                                 limit 1), true, false) as IsOldKey
    </select>
</mapper>