<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fm.mapper.CommodityMapper">

    <select id="showGoodsList" resultType="POJO.commodity.goods">
        select * from goods
        <where>
            <if test="category != null">
                category = #{category}
            </if>
        </where>
        <if test="field != null and order != null">
            order by #{field} #{order}
        </if>
        limit #{offset}, #{pageSize}
    </select>

    <select id="countGoods" resultType="java.lang.Integer">
        select count(*) from goods
        <where>
            <if test="category != null">
                category = #{category}
            </if>
        </where>
    </select>

    <select id="showGoodsById" resultType="POJO.commodity.goods">
        select * from goods where id = #{id}
    </select>

</mapper>